<section class="mt-15 sm:mt-20 get-started">
    <div
        class="bg-[#000D12] p-6 md:p-10 rounded-lg md:columns-2 flex items-center flex-col md:flex-row justify-between text-center md:text-start gap-y-6">
        <div>
            <h2 class="text-xl sm:text-2xl font-semibold">Get Started with ChottuLink Today</h2>
            <p class="mt-4">Unlock the full potential of user engagement and retention. Create an account and get
                started</p>
        </div>

        <button class="btn-gradient btn-signup" (click)="navigateToDashboard()">
        <span>Start Free</span>
        </button>
    </div>
</section>
