<div class="min-h-screen flex items-center justify-center px-4">
  <div class="max-w-md text-center">
    <img class="w-1/5 mx-auto" ngSrc="./assets/images/icons/404.svg" height="512" width="512" alt="404">
    <h2 class="text-2xl font-semibold text-gray-100 mb-2">Page Not Found</h2>
    <p class="text-gray-300 mb-6">
      Sorry, the page you're looking for doesn't exist or has been moved.
    </p>
    <button routerLink="/" mat-flat-button class="w-1/2! bg-[#006ae6]! text-gray-100!">Go Back Home</button>
  </div>
</div>
