<section class="h-full w-full mx-auto md:mt-40 mt-30">

  <div class="text-center max-w-[960px] mx-auto">
    <h1 class="text-3xl sm:text-5xl font-bold mb-6">Why We Built Chottulink?</h1>
    <p class="text-lg font-normal">Chottulink.com was born out of necessity when Firebase Dynamic Links announced its
      sunset. As developers and
      digital creators who relied on Firebase's powerful deep linking capabilities, we felt the urgent need for a
      seamless, reliable, and customizable alternative. What began as a solution for our own needs quickly grew into a
      full-fledged platform designed to serve others facing the same transition. Chottulink is built with simplicity,
      speed, and flexibility in mind—empowering creators, businesses, and developers to build smart links without
      compromise.</p>
  </div>

  <div class="text-center mt-15 sm:mt-20">
    <h2 class="font-bold text-3xl sm:text-5xl mb-6">Founders</h2>

    <div class="flex justify-center items-center flex-col sm:flex-row gap-5 ">
      <div class="flex justify-center items-center flex-col rounded-xl border border-gray-800 p-8 text-center max-w-[400px] bg-[#001219]">

        <div class="rounded-full border border-[#001d29] border-[14px] h-[200px] w-[200px] bg-[#003951] flex items-center justify-center overflow-hidden">
          <img
            ngSrc="./assets/images/mayank-nakrani-linkedin-profile.png"
            alt="Mayank Nakrani" height="302" width="357"
            class="object-cover h-full w-full"
          />
        </div>

        <div class="rounded-2xl mt-4 p-2 w-full">
          <h6 class="font-light text-2xl">Mayank Nakrani</h6>
        </div>
        <p class="text-lg mt-3">With 15+ Years of IT experience, Mayank is still eager to take up tech challenges. He is an entrepreneur at heart and believes in Founder-led sales.</p>

        <a class="rounded-full border border-gray-800 py-2 px-4 p w-fit mt-3" href="https://www.linkedin.com/in/mayank-nakrani/" target="_blank">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
          </svg>
        </a>
      </div>

      <div class="flex justify-center items-center flex-col rounded-xl border border-gray-800 p-8 text-center max-w-[400px] bg-[#001219]" >

        <div class="rounded-full border border-[#001d29] border-[14px] h-[200px] w-[200px] bg-[#003951] flex items-center justify-center overflow-hidden">
          <img
            ngSrc="./assets/images/narendra-thadani-linkedin-profile.png"
            alt="Narendra Thadani" height="302" width="357"
            class="object-cover h-full w-full"
          />

        </div>

        <div class="rounded-2xl mt-4 p-2 w-full">
          <h6 class="font-light text-2xl">Narendra Thadani</h6>
        </div>
        <p class="text-lg mt-3">20+ years of experience in the IT industry, Narendra is a techie at heart and loves to build products that help businesses grow.</p>


        <a class="rounded-full border border-gray-800 py-2 px-4 p w-fit mt-3" href="https://www.linkedin.com/in/narendra-thadani/" target="_blank">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
          </svg>
        </a>
      </div>

      <!-- <div class="flex justify-center items-center flex-col rounded-xl border border-gray-800 p-8 text-center max-w-[400px] bg-[#001219]">

        <div class="rounded-full border border-[#001d29] border-[14px] h-[200px] w-[200px] bg-[#003951]">

        </div>

        <div class="rounded-2xl bg-gradient-to-r from-[#f318ff] to-[#3369c5] mt-4 p-2 w-full">
          <h6 class="font-bold text-2xl">Mayank Nakrani</h6>
        </div>
        <p class="text-lg mt-3">Lorem Ipsum has been the industry's standard dummy of type and scrambled it to make a type specimen book.</p>

        <a class="rounded-full border border-gray-800 py-2 px-6 p w-fit mt-3" href="#">
          <icon src="./assets/images/icons/linkedin.svg" [size]="24"/>
        </a>
      </div> -->
    </div>
  </div>

  <div class="rounded-xl bg-[#001d29] w-full p-8 flex mt-15 gap-6 items-center justify-center sm:flex-row flex-col">
    <div class="flex flex-col gap-3 sm:w-[70%] w-full">
      <h3 class="text-3xl sm:text-5xl font-bold">Tavas Analytics</h3>
      <p class="text-lg">Chottulink is a product of Tavas Analytics, which was founded with a clear mission: to revolutionize how businesses understand and engage with their customers. Launched in 2022 by a team of seasoned technologists and industry experts, Tavas emerged at the intersection of data, AI, and customer experience. Recognizing the limitations of traditional analytics tools, the founders envisioned a platform that could deliver real-time, AI-powered insights across every customer touchpoint—from digital to physical.</p>
      <button class="btn-gradient w-30"  (click)="openContactUsDialog()">Visit Tavas</button>
    </div>
    <div class="my-auto">
      <div class="flex gap-2"> <icon src="./assets/images/icons/star.svg" [size]="24"/>Multiple apps with 5M MAU</div>
      <div class="flex gap-2"> <icon src="./assets/images/icons/star.svg" [size]="24"/>20M+ Events daily</div>
      <div class="flex gap-2"> <icon src="./assets/images/icons/star.svg" [size]="24"/>Ultra Light weight Android, ios and Web SDK</div>
      <div class="flex gap-2"> <icon src="./assets/images/icons/star.svg" [size]="24"/>GDPR Compliant</div>
    </div>
  </div>

  <!-- <div class="mt-20 text-center mb-20">
    <h2 class="font-bold text-3xl sm:text-5xl mb-6">Our Team</h2>
    <div class="flex justify-between items-stretch sm:flex-row flex-col mt-10 gap-6">

      <div class="rounded-2xl border border-gray-800 flex flex-col p-10 items-center justify-center">
        <div class="rounded-full bg-[#001d29] h-35 w-35"></div>
        <h6 class="font-bold mt-2 text-xl">Amit Sharma</h6>
        <p class="text-lg mt-3">SaaS Product Lead</p>
      </div>

      <div class="rounded-2xl border border-gray-800 flex flex-col p-10 items-center justify-center">
        <div class="rounded-full bg-[#001d29] h-35 w-35"></div>
        <h6 class="font-bold mt-2 text-xl">Mutlib Khan</h6>
        <p class="text-lg mt-3">Web & IOS SDK Lead </p>
      </div>

      <div class="rounded-2xl border border-gray-800 flex flex-col p-10 items-center justify-center">
        <div class="rounded-full bg-[#001d29] h-35 w-35"></div>
        <h6 class="font-bold mt-2 text-xl">Swagat Nayak</h6>
        <p class="text-lg mt-3">Android SDK Lead</p>
      </div>

      <div class="rounded-2xl border border-gray-800 flex flex-col p-10 items-center justify-center">
        <div class="rounded-full bg-[#001d29] h-35 w-35"></div>
        <h6 class="font-bold mt-2 text-xl">Balaji Boli</h6>
        <p class="text-lg mt-3">Product Manager</p>
      </div>

      <div class="rounded-2xl border border-gray-800 flex flex-col p-10 items-center justify-center">
        <div class="rounded-full bg-[#001d29] h-35 w-35"></div>
        <h6 class="font-bold mt-2 text-xl">Ankit Aloni</h6>
        <p class="text-lg mt-3">He just hangs around</p>
      </div>
    </div>
  </div> -->

</section>

